{% extends "layout.html" %}
{% load static %}

{% block contenedor %}
    
<body id="main">
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis custom-heading">Somos Especialistas en Alquiler de Grúas y movimiento de maquinarias especiales</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Nuestra filosofía se basa en combinar la sostenibilidad, la calidad y la experiencia al servicio de nuestros clientes.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 custom-heading">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Catálogo</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 50vh;">
      <div class="container px-8">
        <img src="/media/img/crane_jumbo.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Otra Grúa">
      </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src= "/media/img/crane_hero.jpg" class="d-block mx-lg-auto img-fluid border rounded-3 shadow-lg" alt="Más Grúas!">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Grúas telescópicas y transportes especiales</h1>
        <p class="lead">El soporte operativo que necesitas para movilizar, transportar y almacenar tus mercancías en Argentina.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Alquiler</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Venta</button>
        </div>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <img src= "/media/img/crane_truck.jpeg" class="d-block mx-lg-auto img-fluid border rounded-3 shadow-lg" alt="Más Grúas!">
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Nuestras maquinas son de excelencia garantizada</h1>
        <p class="lead">Contamos con una amplia flota de maquinarias de primer nivel y en óptimas condiciones. Todas poseen tanto las certificaciones como las habilitaciones correspondientes. Asimismo, son maniobradas por operarios altamente calificados, con gran experiencia en el rubro.</p>
      </div>
    </div>
</div>
</body>
    
{% endblock  %}
 